*
{
    font-family: 'Noto Sans', sans-serif;
    /* background-color: black; */
}
h1
{
    color: white;
    text-align: center;
    size: 30px;
}
#p, #h1
{
    color: white;
}
#manual{
        margin-bottom: 10%;
        margin-top: 9%;
        margin-right: auto;
        margin-left: auto;
        max-width: 800px;
        padding: 11px;
    
}